/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

/* Utils */
.w-25 {
    width: 25px;
}

.h-25 {
    height: 25px;
}

.br-25 {
    border-radius: 25px;
}

.fs-10 {
    font-size: 10px;
}

/* Header */
header {
    background-color: #080B12;
    min-height: 100px;
    color: white;
}

.flex-container {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.upgrade {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.btn-white {
    color: white;
    margin: 15px 10px;
    border: 1px solid white;
    border-radius: 25px;
}

.btn {
    padding: 10px 30px;
    display: inline-block;
    max-height: 60px;
}


/* Main */
main {
    background-color: #141922;
    height: calc(100vh - 200px);
    overflow: auto;
}

/* Sidebar */
.sidebar {
    height: calc(100vh - 100px);
    width: 50px;
    background-color: black;
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 5px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar-img {
    margin: 10px 0;
}

.top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.logo {
    filter: invert(1);
}

.download {
    height: 15px;
    width: 15px;
}

.profile {
    border-radius: 50%;
    background-color: #808080;
}

/* Footer */

footer {
    background-color: #282828;
    min-height: 100px;
}

.song-container {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.sinister {
    height: 40px;
    width: 40px;
}

.footer-container {
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.song-logo-box {
    display: flex;
    align-items: center;
}

.song-info-box {
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.fav-save {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-left: 20px;
}

.console-box {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.console {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 30px;
}

.play {
    font-size: 1.6rem;
}

.bar-box {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.base-bar {
    height: 5px;
    width: 100px;
    background-color: #5A5A5A;
}

.bar {
    height: 5px;
    width: 25px;
    background-color: #C1C1C1;
}

.audio-box {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.small-bar {
    height: 5px;
    width: 30px;
    background-color: #C1C1C1;
}

.small-base-bar {
    height: 5px;
    width: 80px;
    background-color: #5A5A5A;
}