/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;

}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

/* Utils */
.w-25 {
    width: 25px;
}

.h-25 {
    height: 25px;
}

.br-25 {
    border-radius: 25px;
}

.fs-10 {
    font-size: 10px;
}

.cl-white {
    color: white;
}

.cl-grey {
    color: #7A7D81;
}

.txt-al {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-30 {
    margin-left: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.pt-10 {
    padding-top: 10px;
}

.b-rad-50 {
    border-radius: 50%;
}

.dp-none {
    display: none;
}

/* Header */
header {
    background-color: rgba(8, 11, 18, 0.8);
    min-height: 100px;
    color: white;

    position: sticky;
    top: 0;
}

.flex-container {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.upgrade {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.btn-white {
    color: white;
    margin: 15px 10px;
    border: 1px solid white;
    border-radius: 25px;
}

.btn {
    padding: 10px 30px;
    display: inline-block;
    max-height: 60px;
}


/* Main */
main {
    background-color: #141922;
    height: calc(100vh - 100px);
    overflow: auto;
    display: flex;
}

.content {
    background-color: #141922;
    flex-grow: 1;
    overflow: auto;
}

/* Categorie */
.categories {
    max-width: 510px;
    margin: 0 auto;
}

.categories ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    line-height: 35px;
}

.categories a {
    font-size: 14px;
}

/* Cards */

.title-container {
    max-width: 410px;
    margin: 0 auto;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card {
    flex-basis: calc(100% / 2 - 200px);
}

.card img {
    width: 200px;
    height: 200px;
    display: block;
}

.heavy-metal {
    height: 283px;
    width: 200px;
}

.img-container {
    position: relative;
    /*opacity: 0.7;*/
}

.play-h {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 50px;
}

.card-jhon img {
    width: 200px;
    height: 200px;
    display: block;
}

.card-container-jhon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



/* Sidebar */
.sidebar {

    width: 50px;
    flex-shrink: 0;
    background-color: black;


    padding: 5px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.big-logo {
    display: none;
}

.logo-box {
    display: none;
}

.sidebar-img {
    margin: 10px 0;
}

.sidebar-icons-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.home {
    display: none;
}

.search {
    display: none;
}

.library {
    display: none;
}

.playlist-container {
    display: none;
}

.playlist {
    color: white;
}

.plus {
    height: 30px;
    width: 30px;
    background-color: #A3A3A3;
    color: black;
    font-size: 2.5rem;
    text-align: center;
    line-height: 30px;
    display: inline-block;
}

.bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.download {
    display: none;
}

.separator {
    display: none;
}

.profile {
    display: none;
}

.logo {
    filter: invert(1);
}

.download-img {
    height: 15px;
    width: 15px;
}

.separator {
    width: 100px;
    border: 1px solid #373737;
}

.profile-img {
    border-radius: 50%;
    background-color: #808080;
}




/* Footer */

footer {
    background-color: #282828;
    height: 100px;
}

.song-container {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.sinister {
    height: 40px;
    width: 40px;
}

.footer-container {
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.song-logo-box {
    display: flex;
    align-items: center;
}

.song-info-box {
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.fav-save {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-left: 20px;
}

.console-box {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.console {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 30px;
}

.play {
    font-size: 1.6rem;
}

.bar-box {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.base-bar {
    height: 5px;
    width: 100px;
    background-color: #5A5A5A;
}

.bar {
    height: 5px;
    width: 25px;
    background-color: #C1C1C1;
}

.audio-box {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.small-bar {
    height: 5px;
    width: 30px;
    background-color: #C1C1C1;
}

.small-base-bar {
    height: 5px;
    width: 80px;
    background-color: #5A5A5A;
}